
/* Grid Container */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
	padding: 10px;
	text-align: center;
}



/* Estilos Gerais */
.item {
	height: 100%;
	background: rgb(169,169,169);
	text-align: center;
}

.grid {
	margin: 0 auto;
	order: 1px solid #ccc;
}


.less5 {
	background: #70ffde;
  }
  
  .from5To10 {
	background: #0affc6;
  }
  
  .from10to20 {
	background: #00dca9;
  }
  
  
  .moreThan20 {
	background: #00a37d;
  }





