

<div class="row">

  <div class="col-md-4">
    <div [hidden]="dataLoading" id="controlImage" style="width: 50%; margin: auto; position: relative; display: block;" [innerHtml]="controlImageSvg"  ></div>
    <img *ngIf="dataLoading && !hasError" src="assets/loading.svg" alt="loading">
  </div>
  
  <div class="col-md-6">
   
    <h4>{{deviceData?.name}}</h4>
  
    <div class=" p-2 bg-blue-grey-900 rounded" style="display: flex;">
      <div *ngIf="!dataLoading" class="custom-control custom-switch" style="margin-left: 5px;">
        <input 
          id="customSwitch1"
          type="checkbox"
          class="custom-control-input"

          [checked]="isOn"
          (change)=onRelayChange($event)>
  
          <label 
            style="color:white; padding-top: 3px;"
            class="custom-control-label" for="customSwitch1">
            <span *ngIf="!hasError && isOn"> {{'on' | translate}} </span>
            <span *ngIf="!hasError && !isOn" > {{'off' | translate}} </span>
            <span *ngIf="hasError" style="color: #e45454; font-weight: bold;"> {{'Connection error' | translate }}</span>
          </label>
  
  
      </div>
      <img *ngIf="dataLoading && !hasError" src="assets/loading.svg" style="height: 25px;" alt="loading">
    </div>
    
  </div>
  

</div>

