<div class="row" >
    <div class="col-md-3">
        <div class="card dark-card card-stats">
            <div class="card-header card-header-danger card-header-icon" data-background-color="red">

                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <p class="card-category">{{ 'HVAC Engaged' | translate }} </p>
                <h2 *ngIf="data.energy != null ">{{data?.energy | number:'1.0-0'}}<small> % </small></h2>
                <h2 *ngIf="data.energy == null">-- <small> % </small></h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <small><i class="material-icons">date_range</i> {{ 'Last 30 days' | translate }} </small> <span
                            [className]="getVariationColorClass('energy')"> <i class="material-icons">{{getVariationIconClass("energy")}}</i>
                            {{getVariationAbs("energy")}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dark-card card-stats">
            <div class="card-header card-header-icon card-header-success" data-background-color="green">
                <div class="card-icon">
                    <i class="material-icons">attach_money</i>
                </div>
                <p class="card-category">{{ 'Savings' | translate }} </p>
                <h2 *ngIf="data.savings != null">{{data?.savings | number:'1.0-0'}}<small> % </small></h2>
                <h2 *ngIf="data.savings == null">--<small> % </small></h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <small><i class="material-icons">date_range</i> {{ 'Last 30 days' | translate }} </small> <span
                            [className]="getVariationColorClass('savings')"> <i class="material-icons">{{getVariationIconClass("savings")}}</i>
                            {{getVariationAbs("savings")}}%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dark-card card-stats">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons"><img src="assets/images/icon-occupeded.svg" style="width: 45px;margin-top: -16px;">
                    </i>
                </div>
                <p class="card-category">{{ 'Occupancy' | translate }}</p>
                <h2 *ngIf="data.presence != null"> {{data?.presence | number:'1.0-0' }}<small> %</small></h2>
                <h2 *ngIf="data.presence == null"> -- <small> %</small></h2>
            </div>

            <div class="card-footer">
                <div class="stats">
                    <small><i class="material-icons">date_range</i> {{ 'Last 30 days' | translate }} </small> <span
                            [className]="getVariationColorClass('presence')"> <i class="material-icons">{{getVariationIconClass("presence")}}</i>
                            {{getVariationAbs("presence")}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dark-card card-stats">
            <div class="card-header card-header-icon card-header-warning">
                <div class="card-icon">
                    <i class="material-icons">event_available</i>
                </div>
                <p class="card-category">{{ 'Sold' | translate }}</p>
                <h2 *ngIf="data.sold != null">{{data?.sold}}<small> %</small></h2>
                <h2 *ngIf="data.sold == null"> -- <small> %</small></h2>
            </div>
            
            <div class="card-footer">
                <div class="stats">
                    <small><i class="material-icons">date_range</i> {{ 'Last 30 days' | translate }} </small> <span
                            [className]="getVariationColorClass('sold')"> <i class="material-icons">{{getVariationIconClass("sold")}}</i>
                            {{getVariationAbs("sold")}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>