.subtitle-icon{
    
    float: left;
    position: absolute;
    border: 10px red;
    height: 35px;
    width: 60px;
    /* background-color: white; */
    // border-bottom: 5px darkgreen solid;
    border-radius: 0;

}

.filter-buttons {
    min-width: 150px;
    max-width: 150px;
}

.light-group {
    height: 100%;
    max-height: 300px;
}