<div class="light-group main-style">
  <div class="date-filter-div">
    <div *ngIf="showFilter">
      <p-dropdown
        [options]="periods"
        [placeholder]="'Período'"
        (ngModelChange)="pickPeriod($event)"
      >
      </p-dropdown>
    </div>
    <div class="datepicker form-group inner-addon">
      <p-calendar
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [(ngModel)]="rangeDates[0]"
        (ngModelChange)="filterByDate()"
      >
      </p-calendar>
      <i class="material-icons notranslate">calendar_today</i>
    </div>

    <div class="datepicker form-group inner-addon">
      <p-calendar
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [(ngModel)]="rangeDates[1]"
        (ngModelChange)="filterByDate()"
      >
      </p-calendar>
      <i class="material-icons notranslate">calendar_today</i>
    </div>
  </div>
</div>
