@import "../../styles/main.scss";

.bg-input-calendar {
  // background-color: #91969d;
  // border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  align-self: center;
  margin: 0;
}

.date-filter-div {
  display: flex;
  flex-direction: row;
  margin: 8px 10px;

  div:first-child {
    margin-right: 10px;
  }

  div:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
  }

  div:last-child {
    margin-left: 10px;
  }
}

.ml-2 {
  margin-left: 1.5rem !important;
}

.filter-input {
  margin-left: 10px;
  margin-right: 10px;
  width: 10rem;
}

.main-style {
  border-radius: 4px;
  display: flex;
  align-items: center;
}

// ::ng-deep p-calendar .ui-calendar .ui-inputtext {
//   color: white;
// }

// ::ng-deep p-calendar .ui-calendar .ui-inputtext {
//   color: white;
// }

// ::ng-deep p-calendar .ui-calendar .ui-datepicker {
//   background-color: gray;
// }

// ::ng-deep p-calendar > span > input {
//   font-size: 0.9rem;
//   width: 100%;
//   max-width: 150px;
//   padding: 4px;
//   max-height: 32px;
//   background-color: rgba(255, 255, 255, 0.1);
//   cursor: pointer;
// }

// ::ng-deep p-calendar .ui-calendar .ui-datepicker tr {
//   cursor: pointer;
// }
