<div class="light-group main-style">
  <div class="date-filter-div">
    <div class="inner-addon right-addon bg-input-calendar" style="margin-right: 5px; padding: 4px;">
      <p-calendar
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [(ngModel)]="rangeDates[0]"
        (ngModelChange)="filterByDate()">
      </p-calendar>
      <i class="material-icons notranslate" style="color: white; cursor: pointer;">calendar_today</i>
    </div>

    <div class="inner-addon right-addon bg-input-calendar">
      <p-calendar
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [(ngModel)]="rangeDates[1]"
        (ngModelChange)="filterByDate()">
      </p-calendar>
      <i class="material-icons notranslate" style="color: white; cursor: pointer; padding: 4px;">calendar_today</i>
    </div>
  </div>
  <div *ngIf="showFilter" class="charts charts-header filter-input">
    <app-filter [items]="periods" [selected]="period" (selectedModified)="pickPeriod($event)"></app-filter>
  </div>
</div>