<nav class="sidebar" id="sideBar" data-color="white">
        <div class="sidebar-collapse" style="cursor: pointer;" (click)="toggleSidebar()"><i class="material-icons">arrow_left</i></div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="logo pt-4">
            <!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button-->
            <div (click)="changeMenu('home')" style="cursor: pointer;">
                <a ><img *ngIf="logoUrl" [src]="logoUrl"></a>
            </div>
            <app-header-status></app-header-status>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li *ngIf="showTab('propertySummary')" class="nav-item" [ngClass]="{'active': itemClicked == 'propertySummary'}"  data-toggle="tooltip" data-placement="right" title="{{ 'Property Summary' | translate }}">
                    <a class="nav-link" (click)="changeMenu('propertySummary')">
                        <i class="material-icons">domain</i>
                        <span>{{ 'Property summary' | translate }}</span>
                    </a>
                </li>
                <li  *ngIf="showTab('dashboard')" class="nav-item" [ngClass]="{'active': itemClicked == 'dashboard'}">
                    <a class="nav-link" (click)="changeMenu('dashboard')" data-toggle="tooltip" data-placement="right" title="{{ 'Energy Management Dashboard' | translate }}">
                        <i class="material-icons">multiline_chart</i>
                        <span>{{ 'Energy Management Dashboard' | translate }} </span>

                    </a>
                </li>
                <li *ngIf="showTab('engineering')" class="nav-item" [ngClass]="{'active': itemClicked == 'engineering'}" data-toggle="tooltip" data-placement="right" title="{{ 'Engineering' | translate }}">
                    <a class="nav-link" (click)="changeMenu('engineering')">
                        <i class="material-icons">settings</i>
                        <span>{{ 'Engineering' | translate }}</span>
                    </a>
                </li>

                <li *ngIf="showTab('it')" class="nav-item" [ngClass]="{'active': itemClicked == 'it'}" data-toggle="tooltip" data-placement="right" title="{{ 'IT' | translate }}">
                    <a class="nav-link" (click)="changeMenu('it')">
                        <i class="material-icons">computer</i>
                        <span>{{ 'IT' | translate }}</span>
                    </a>
                </li>

				<li *ngIf="showTab('maintenance')" class="nav-item" [ngClass]="{'active': itemClicked == 'maintenance'}"
					data-toggle="tooltip" data-placement="right" title="{{ 'Maintenance' | translate }}">
					<a class="nav-link" (click)="changeMenu('maintenance')">
            <i class="material-icons">playlist_add_check</i>
						<span> {{ 'Maintenance' | translate }}</span>
					</a>
				</li>

                <li *ngIf="showTab('housekeeping')" class="nav-item" [ngClass]="{'active': itemClicked == 'housekeeping'}" data-toggle="tooltip" data-placement="right" title="{{ 'Housekeeping' | translate }}">
                    <a class="nav-link" (click)="changeMenu('housekeeping')">
                        <i class="material-icons">group</i>
                        <span> {{ 'Housekeeping' | translate }}</span>
                    </a>
				</li>

                <li *ngIf="showTab('crm')" class="nav-item" [ngClass]="{'active': itemClicked == 'crm'}" data-toggle="tooltip" data-placement="right" title="{{ 'Customer Relations' | translate }}">
                    <a class="nav-link" (click)="changeMenu('crm')">
                        <i class="material-icons">person</i>
                        <span> {{ 'Customer Relations' | translate }}</span>
                    </a>
                </li>

                <li *ngIf="showTab('usageReport')" class="nav-item" [ngClass]="{'active': itemClicked == 'usageReport'}" data-toggle="tooltip" data-placement="right" title="{{ 'Customer Relations' | translate }}">
                    <a class="nav-link" (click)="changeMenu('usageReport')">
                        <i class="material-icons">menu_book</i>
                        <span> {{ 'Usage Report' | translate }}</span>
                    </a>
                </li>

                <!-- <li *ngIf="showTab('order')" class="nav-item" [ngClass]="{'active': itemClicked == 'order'}" data-toggle="tooltip" data-placement="right" title="{{ 'Order Dashboard' | translate }}">
                    <a class="nav-link" (click)="changeMenu('order')">
                        <i class="material-icons">room_service</i>
                        <span> {{ 'Order Dashboard' | translate }}</span>
                    </a>
                </li> -->

                <li *ngIf="showTab('order')" class="nav-item" [ngClass]="{'active': itemClicked == 'produtividade'}" data-toggle="tooltip" data-placement="right" title="Produtividade">
                    <a class="nav-link" (click)="changeMenu('produtividade')">
                        <i class="material-icons">bar_chart_sharp</i>
                        <span> Produtividade</span>
                    </a>
                </li>

                <li *ngIf="showTab('nps')" class="nav-item" [ngClass]="{'active': itemClicked == 'nps'}" data-toggle="tooltip" data-placement="right" title="NPS">
                  <a class="nav-link" (click)="changeMenu('nps')">
                      <i class="material-icons">star</i>

                      <span> NPS</span>
                  </a>
                </li>

                <li *ngIf="showTab('roomControl')" class="nav-item" [ngClass]="{'active': itemClicked == 'roomControl'}" data-toggle="tooltip" data-placement="right" title="{{ 'Room Control' | translate }}">
                    <a class="nav-link" (click)="changeMenu('roomControl')">
                        <i class="material-icons">devices_other</i>
                        <span> {{ 'Room Control' | translate }}</span>
                    </a>
                </li>


                <li *ngIf="showTab('optimization')" class="nav-item hidden_991" [ngClass]="{'active': itemClicked == 'optimization'}" data-toggle="tooltip" data-placement="right" title="{{ 'Optimization Services' | translate }}">
                    <a class="nav-link" (click)="changeMenu('optimization')">
                        <i class="material-icons">timer</i>
                        <span> {{ 'Optimization Services' | translate }}</span>
                    </a>
                </li>

                <li *ngIf="showTab('energyManagement')" class="nav-item hidden_991" [ngClass]="{'active': itemClicked == 'energyManagement'}" data-toggle="tooltip" data-placement="right" title="{{ 'Energy Management' | translate }}">
                    <a class="nav-link" (click)="changeMenu('energyManagement')">
                        <i class="material-icons">multiline_chart</i>
                        <span> {{ 'Energy Management' | translate }}</span>
                    </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->

        <div class="sidebar-footer" *ngIf="propertyId && showChangeProperty">
            <ul class="nav" style="margin:10px 0px">
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="leaveProperty()" data-toggle="tooltip" data-placement="right"
                        title="{{ 'Change property' | translate }}">
                        <i class="material-icons">swap_horiz</i>
                        <span>{{'Change property' | translate}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar-footer" *ngIf="propertyId && showRedirectBackoffice">
            <ul class="nav" style="margin:10px 0px">
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="redirectUrl()" data-toggle="tooltip" data-placement="right"
                        title="{{ 'Backoffice' | translate }}">
                        <i class="material-icons">swap_horiz</i>
                        <span>{{'Backoffice' | translate}}</span>
                    </a>
                </li>
            </ul>
        </div>

</nav>
