<div class="col-12 flex-md-row col-md-8 col-lg-12 col-xl-8 justify-content-xl-end justify-content-lg-between d-flex flex-column flex-lg-row"
    style="min-height: 50px; margin: auto;">

    <button *ngFor="let questionLabel of availableQuestionLabels" class="btn btn-outline-none active" (click)="onQuestionLabelClick(questionLabel)" 
            [ngClass]="{'active': selectedQuestionsLabels.includes(questionLabel)}">
        <span>{{questionLabel}}</span>
    </button>
</div>

<nvd3 [options]="options" [data]="data"></nvd3>