<section class="nps-section">
  <div class="nps-container">
    <div class="nps-header">
      <div class="title-container">
        <h1>Pesquisa de Satisfação</h1>
      </div>
      <div class="breadcrumb-container">
        <p>> HOME > PESQUISA DE SATISFAÇÃO</p>
      </div>
      <div class="filter-container">
        <div class="title-underline">
          <span>Filtros</span>
          <div class="underline"></div>
        </div>

        <div class="tie-filters">
          <div class="inputs-container">
            <p-dropdown
              [placeholder]="'Ala'"
              [options]="optionsTeste"
              optionLabel="label"
            >
            </p-dropdown>
          </div>
          <div class="inputs-container">
            <p-dropdown
              [placeholder]="'Quarto'"
              [options]="optionsTeste"
              optionLabel="label"
            >
            </p-dropdown>
          </div>
          <div class="inputs-container">
            <p-dropdown
              [placeholder]="'Período'"
              [options]="optionsTeste"
              optionLabel="label"
            >
            </p-dropdown>
          </div>
          <div class="inputs-container">
            <div class="datepicker form-group inner-addon">
              <p-calendar
                dateFormat="dd/mm/yy"
                [monthNavigator]="false"
                [yearNavigator]="false"
              >
              </p-calendar>
              <i class="material-icons notranslate">calendar_today</i>
            </div>
          </div>
          <div class="inputs-container">
            <div class="datepicker form-group inner-addon">
              <p-calendar
                dateFormat="dd/mm/yy"
                [monthNavigator]="false"
                [yearNavigator]="false"
              >
              </p-calendar>
              <i class="material-icons notranslate">calendar_today</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nps-graphics-container">
      <app-nps-graphics-view
        [globalSatisfactionData]="globalSatisfactionData"
        [npsByCategoryData]="npsByCategoryData"
        [npsClosedOrdersData]="npsClosedOrdersData"
        [categoriesNpsLowerThanSevenData]="categoriesNpsLowerThanSevenData"
      ></app-nps-graphics-view>
    </div>
  </div>
</section>
