.subtitle-icon{

  float: left;
  position: absolute;
  border: 10px red;
  height: 35px;
  width: 60px;
  /* background-color: white; */
  // border-bottom: 5px darkgreen solid;
  border-radius: 0;

}

.filter-buttons {
  min-width: 150px;
  max-width: 150px;
}

.activation {
  background-color: #6c757d;
}

.buttons-join>button:hover {
  background-color: #6c757d !important;
}

.open-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-height: 100%;
}

.margin-filter-bar {
  margin-left: 50px;
  margin-top: 15px;
}

.filter-button {
  margin-left: 10px;
  width: 150px;
}

.filter-button > button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 18ch;
}

.loading {
  position        : absolute;
  display         : flex;
  justify-content : center;
  height          : 100vh;
  width           : 100vw;
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
}
