@import "../../../../../styles/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nps-section {
  height: 100vh;
  min-height: 100vh;

  .nps-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    .nps-header {
      background-color: #303743;
      padding-top: 30px;

      display: flex;
      flex-direction: column;

      .title-container {
        width: 100%;

        padding: 8px 50px;

        h1 {
          font-family: "Raleway";
          font-weight: bold;
          font-size: 30px;

          letter-spacing: 0px;

          color: #ffffff;
        }
      }

      .filter-container {
        min-height: 60px;

        margin-top: 25px;
        padding: 10px 50px;

        background-color: #afb9c674;

        display: flex;
        flex-direction: row;

        .title-underline {
          display: flex;
          flex-direction: column;
          justify-content: center;

          height: 100%;

          span {
            font-size: 20px;
            font-family: "Raleway";
            font-weight: bold;

            letter-spacing: 0px;

            color: #ffffff;
          }

          .underline {
            width: 60px;
            height: 4px;

            margin-top: 5px;

            background-color: #ffffff;

            border-radius: 10px;
          }
        }

        .tie-filters {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          margin: 0 10px;

          width: 100%;

          .inputs-container {
            margin: 8px 10px;
          }

          //vai remover...
          .filter-button {
            display: flex;
            align-items: center;

            .button {
              width: 160px;
              height: 38px;

              background-color: #f9fbff;

              box-shadow: 5px 5px 10px #00000029;

              border: none;
              border-radius: 12px;

              margin: 8px 10px;

              span {
                text-align: center;
                font-family: "Roboto";
                letter-spacing: 0.29px;
                color: #91969d;
                font-size: 14px;
              }

              &:hover {
                transition-duration: 0.2s;
                background-color: #4d4c4d;
                box-shadow: 5px 5px 10px #00000029;

                span {
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }

    .nps-graphics-container {
      background-color: #303743;
      position: relative;

      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;

      overflow: auto;

      app-nps-graphics-view {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;

        overflow: auto;
      }
    }
  }
}
