@import "../../../../../styles/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nps-section {
  height: 100vh;
  min-height: 100vh;

  .nps-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    .nps-header {
      padding-top: 30px;

      display: flex;
      flex-direction: column;

      .title-container {
        width: 100%;

        padding: 8px 50px;

        h1 {
          font-family: "Raleway";
          font-weight: bold;
          font-size: 30px;

          letter-spacing: 0px;

          color: #ffffff;
        }
      }

      .breadcrumb-container {
        width: 100%;

        padding: 8px 50px;

        p {
          font-family: "Raleway";
          font-size: 13px;

          letter-spacing: 0px;

          color: #ffffff;
        }
      }
      .filter-container {
        min-height: 60px;

        margin-top: 25px;
        padding: 10px 50px;

        background-color: rgba(255, 255, 255, 0.38);

        box-shadow: 0px 0px 20px #afb9c674;

        display: flex;
        flex-direction: row;

        .title-underline {
          display: flex;
          flex-direction: column;
          justify-content: center;

          height: 100%;

          span {
            font-size: 20px;
            font-family: "Raleway";
            font-weight: bold;

            letter-spacing: 0px;

            color: #ffffff;
          }

          .underline {
            width: 60px;
            height: 4px;

            margin-top: 5px;

            background-color: #ffffff;

            border-radius: 10px;
          }
        }

        .tie-filters {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          margin: 0 10px;

          width: 100%;

          .inputs-container {
            margin: 8px 10px;
          }
        }
        .filter-button {
          display: flex;
          align-items: center;

          height: 100%;

          .button {
            width: 176px;
            height: 46px;

            background-color: #f9fbff;

            box-shadow: 5px 5px 10px #2a6fa524;

            border: 1px solid #7d8c8f;
            border-radius: 12px;

            span {
              text-align: center;
              font-family: "Roboto";
              letter-spacing: 0.29px;
              color: #7d8c8f;
            }

            &:hover {
              background-color: #7d8c8f;

              box-shadow: 5px 5px 10px #2a6fa524;

              span {
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    .nps-graphics-container {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;

      overflow: auto;

      app-nps-graphics-view {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;

        overflow: auto;
      }
    }
  }
}
