<section #mainPanel id="mainPanel" class="main-panel nps-section">
  <div class="nps-container">
    <div class="nps-header">
      <div class="title-container">
        <h1>Pesquisa de Satisfação</h1>
      </div>
      <div class="breadcrumb-container">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <app-loading *ngIf="loading" [isFull]="false"></app-loading>
      <div class="filter-container">
        <div class="title-underline">
          <span>Filtros</span>
          <div class="underline"></div>
        </div>

        <div class="tie-filters">
          <div class="inputs-container">
            <p-dropdown
              [placeholder]="'Ala'"
              [options]="wardsAdvanced"
              (ngModelChange)="selecionarSetorDetail($event)"
            >
            </p-dropdown>
          </div>
          <div class="inputs-container">
            <p-dropdown
              [placeholder]="'Quarto'"
              [options]="subjectsAdvanced"
              (selectedModified)="selecionarUnidadeDetail($event)"
            >
            </p-dropdown>
          </div>
          <app-history-navigation-inputed
            [startDate]="rangeDates[0]"
            [endDate]="rangeDates[1]"
            [showFilter]="true"
            (onViewChange)="setRangeDate($event)"
          >
          </app-history-navigation-inputed>
          <div class="filter-button">
            <button class="button" type="button" (click)="doFilter()">
              <span>Atualizar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="nps-graphics-container">
      <app-nps-graphics-view
        [globalSatisfactionData]="globalSatisfactionData"
        [npsByCategoryData]="npsByCategoryData"
        [npsClosedOrdersData]="npsClosedOrdersData"
        [categoriesNpsLowerThanSevenData]="categoriesNpsLowerThanSevenData"
        [selectedCategoryNpsByCategoryFilter]="
          selectedCategoryNpsByCategoryFilter
        "
        [seletorCategoryNPSByCategoryDataChart]="
          seletorCategoryNPSByCategoryDataChart
        "
        [selectedFilterEvent]="selectedFilterEvent"
        [selectedCategoryClosedOrdersFilter]="
          selectedCategoryClosedOrdersFilter
        "
        [seletorCategoryClosedOrdersDataChart]="
          seletorCategoryClosedOrdersDataChart
        "
      ></app-nps-graphics-view>
    </div>
  </div>
</section>
