<section class="order-container main-panel">
  <!-- Título -->
  <div class="title">
    <h1>
      {{ "Orders / Productivity" | translate }}
    </h1>
    <span>> HOME > PEDIDOS/PRODUTIVIDADE</span>
  </div>
  <!-- <app-loading></app-loading> -->

  <!-- Barra de filtros -->
  <div class="filter-bar">
    <div class="filter-box">
      <div class="text-box">
        {{ "Filtros" }}
        <div class="underline-text"></div>
      </div>
      <div class="inputs-container">
        <app-history-navigation-inputed
          [startDate]="rangeDates[0]"
          [endDate]="rangeDates[1]"
          [showFilter]="true"
          (onViewChange)="setRangeDate($event)"
        >
        </app-history-navigation-inputed>
      </div>
    </div>
    <!-- Botões da Barra de filtro -->
    <!-- <div class="bts-box">
      <button>{{ "Details" | translate }}</button>
      <button>{{ "Teste" }}</button>
    </div> -->
  </div>

  <!-- Componente de gráficos -->
  <div class="graphics-view">
    <app-order-graphics-view
      [halfHourData]="halfHourData"
      [topFiveOppened]="topFiveOppened"
      [afterSlaData]="afterSlaData"
      [seletorWards]="seletorWards"
      [seletorSubjects]="seletorSubjects"
      [selectedFilterEvent]="selectedFilterEvent"
      [clickPizza]="clickPizza"
      [afterSlaChartClickEvent]="afterSlaChartClickEvent"
      [halfChartClickEvent]="halfChartClickEvent"
    ></app-order-graphics-view>
  </div>
</section>
