@import "./variables.scss";

::ng-deep p-calendar {
  input {
    width: 100%;
    min-width: 170px;
    height: 38px !important;

    padding: 0 15px !important;

    box-shadow: 5px 5px 10px #2a6fa524 !important;
    border: 1px solid #d9dadb !important;

    background: #ffffff !important;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;

      border-color: $base-gray;

      color: $base-gray;
      background: none;

      i {
        opacity: 0.3;
      }
    }
  }
}

.datepicker {
  max-width: min-content;

  i {
    color: #7d8c8f;

    right: 0px;
  }
}

.ui-datepicker {
  width: 350px;

  margin-top: 5px;
  margin-left: -10px;

  font-size: 1rem;
  border-radius: 10px !important;
  box-shadow: 5px 5px 10px rgba(42, 111, 165, 0.12);

  color: $gray-dark;
  background-color: $white;
}

body .ui-calendar .ui-inputtext {
  border-radius: 10px;
  padding: 0px 5px;
  padding-right: 0px;
  border: none;
  color: #91969d;
  height: 40.8px;
}

body .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
  border-radius: 3px;
  transition: all 70ms ease-in-out;

  color: $white !important;
  background: $base-blue;
}

body .ui-datepicker .ui-datepicker-calendar td a {
  margin: 1px;
  transition: all 100ms ease-in-out;

  &:hover {
    color: $white;
    background: $gray-dark;
  }
}

body .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {
  background-color: #53535370 !important;
  color: $white !important;
}

body
  .ui-datepicker
  .ui-datepicker-calendar
  td.ui-datepicker-other-month
  .ui-state-disabled {
  visibility: hidden;
}

.form-group p-calendar {
  width: 100%;
}

body .ui-datepicker .ui-datepicker-calendar tr:nth-child(even) {
  background-color: transparent !important;
}

body .ui-datepicker .ui-datepicker-calendar tr:hover {
  background-color: transparent !important;
}
