//Dropdown prime NG
@import "./variables.scss";

::ng-deep p-dropdown {
  .ui-state-disabled {
    opacity: 0.5;
  }

  .ui-dropdown {
    width: 100%;
    min-width: 150px;
    height: 38px;

    padding: 0 10px;
    border-radius: 12px;

    border: 1px solid $white-darker;
    box-shadow: 5px 5px 10px rgba(42, 111, 165, 0.14);

    font-family: $font-family-sans-serif !important;

    color: $blue-darker;
    background-color: $white !important;

    .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
      top: 50% !important;
      left: 30% !important;
      margin-top: -0.5em;
      margin-left: -0.5em;
      position: absolute !important;
    }
    label {
      padding-right: 3em !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      // margin-top: 10px;

      font-size: 14px;
      font-family: $font-family-sans-serif !important;

      color: $base-gray;
    }
  }
  .ui-dropdown-open {
    background-color: $white !important;
    border: 1px solid $white-darker;
    box-shadow: 3px 4px 4px $white-darker;
    color: $base-black;
    border-radius: 12px;
    font-family: $font-family-sans-serif !important;
    height: 38px;

    label {
      // margin-top: 10px;
      font-size: 14px;
      color: $base-gray;
      font-family: $font-family-sans-serif !important;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .ui-dropdown-panel {
    width: 100%;
    // width: 220px !important;

    border-radius: 12px;
    background: $white !important;
  }

  .ui-dropdown-items-wrapper {
    li {
      padding: 0.8em 0.6em !important;
      border-bottom: 1px solid $white-darker !important;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      color: $base-blue;

      span {
        text-transform: capitalize;

        font-family: $font-family-sans-serif;
        font-size: 14px;
      }
    }
  }
}
::ng-deep .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
  top: 50% !important;
  left: 30% !important;
  margin-top: -0.5em;
  margin-left: -0.5em;
  position: absolute !important;
}
::ng-deep .pi-chevron-down:before {
  color: $gray-dark;
  content: "\e906";
}

::ng-deep p-dropdown {
  .ui-dropdown-panel .ui-dropdown-filter-container {
    background-color: $white;
  }
  .ui-widget-header .ui-inputtext,
  .ui-widget-content .ui-inputtext {
    background-color: $base-blue;
    color: $base-black;
    font-family: $font-family-sans-serif !important;
  }
  .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    position: absolute;
    top: 1.2em;
    right: 1em;
  }
}
