<div class="main-panel home" [ngStyle]="backgroundStyle">
	<nav class="navbar navbar-summary navbar-expand-lg navbar-transparent navbar-fixed fixed-top ">
		<div class="container-fluid justify-content-center">
			<div class="navbar-wrapper">
				<a class="navbar-brand over530">{{'Customer Relationship Management' | translate }} </a>
				<a class="navbar-brand below530">{{'Customer Relations' | translate }} </a>
			</div>
			<app-collapse-hamburguer-button></app-collapse-hamburguer-button>

			<p-calendar placeholder="Data inicial e final" [(ngModel)]="dateRange"
			dateFormat="mm/dd/yy" selectionMode="range" name="range" (onClearClick)="getData()"
			(onSelect)="getData()"></p-calendar>
				

		</div>
	</nav>

	<div class="property-summary summary-complete">

		<div class="summary-card-content" >
			<div class="px-3">

				<div class="row">
					<div class="col-md-12 d-flex">
						<div class="card dark-card text-center my-1">
							<h3>{{'Average rating' | translate}}</h3>
							<div>
								<app-survey-average [startDate]="startDate" [endDate]="endDate" [surveyConfig]="surveyConfig"></app-survey-average>
							</div>
						</div>
					</div>
					<!--
					<div class="col-md-6 d-flex">
						<div class="card dark-card text-center my-1">
							<h3>{{'Conversion rate' | translate}}</h3>
							<div>
								<app-survey-conversion-rate [propertyId]="propertyId" [startDate]="startDate" [endDate]="endDate" [surveyConfig]="surveyConfig"></app-survey-conversion-rate>
							</div>
						</div>
					</div>
					-->
				</div>
				
				<div class="row" style="margin-bottom: 75px">
					<div class="col-md-12 d-flex" >
						<div class="card dark-card text-center my-1" >
							<h3>{{'Satisfaction' | translate}}</h3>
							<div>
								<app-survey-satisfaction [startDate]="startDate" [endDate]="endDate" [surveyConfig]="surveyConfig"></app-survey-satisfaction>
							</div>
						</div>
					</div>


					<!-- <div class="col-md-6 d-flex">
						<div class="card dark-card text-center my-1">
							<h3>{{'Another chart' | translate}}</h3>
						</div>
					</div> -->

				</div>

			</div>



		</div>

	</div>

	<app-survey-grid  [startDate]="startDate" [endDate]="endDate" [surveyConfig]="surveyConfig"></app-survey-grid>