<section class="graphics-container">
  <div class="graphics-content">
    <app-charts-component
      [type]="CHART_TYPES.BAR_VERTICAL"
      [title]="'Pedidos em aberto há mais de 30 minutos'"
      [itens]="halfHourData"
      [exibirSeletor]="true"
      [seletorWards]="seletorWards"
      [seletorSubjects]="seletorSubjects"
      (clickBarVerticalEvent)="halfChartClickEvent($event)"
      (selectedFilterEvent)="selectedFilterEvent($event)"
    ></app-charts-component>
  </div>
  <div class="graphics-content">
    <app-charts-component
      [type]="CHART_TYPES.PIZZA"
      [title]="'Top 5 areas com pedidos em aberto'"
      [itens]="teste"
    ></app-charts-component>
  </div>
  <div class="graphics-content">
    <app-charts-component
      [type]="CHART_TYPES.BAR_VERTICAL"
      [title]="'top 5 categorias com pedidos fechados fora do SLA'"
      [itens]="teste"
    ></app-charts-component>
  </div>
  <div class="graphics-content">
    <app-charts-component
      [type]="CHART_TYPES.PIZZA"
      [title]="'Top 5 alas com pedidos em aberto'"
      [itens]="teste"
    ></app-charts-component>
  </div>
</section>
