.order-container {
  height: 100vh;
  min-height: 100vh;
  width: calc(100vw - 100px);

  padding-top: 30px;
  margin-left: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-left: 60px;
  margin-bottom: 30px;

  h1 {
    font-family: Raleway;
    font-size: 25px;
    font-weight: bolder;
    color: #dfdfdf;
  }

  span {
    font-family: Raleway;
    font-size: 12px;
    color: #dfdfdf;
  }
}

.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.38);
  box-shadow: 0px 0px 20px rgba(175, 185, 198, 0.455);
  height: 75px;

  .filter-box {
    display: flex;
    flex-direction: row;

    padding-left: 55px;
    width: 100%;

    .text-box {
      font-family: Raleway;
      font-weight: bold;
      color: #ffffff;
      font-size: 20px;

      .underline-text {
        width: 70px;
        border-top-color: #ffffff;
        border-top-style: solid;
        border-top-width: initial;
        border-radius: 10px;
        opacity: 1;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
}
