<!-- user logged-->
    <section class="dashboard-user-logged">
      <article class="dashboard-user-container">
        <div class="dashboard-user-text-container">
          <h6 class="dashboard-user-title">Samanta Dias</h6>
          <p class="dashbaord-user-description">Último acesso em xx/xx/xxx - 14:00</p>
        </div>
        <div class="dashboard-user-icon">
          <!-- <img src="../../../../../assets/images/ic-usernv.svg" alt=""> -->
        </div>
      </article>
    </section>

  <app-logout-modal></app-logout-modal>
