<p>logout-component works!</p>



<!-- user logged-->
    <!-- <section class="dashboard-user-logged">
      <article class="dashboard-user-container">
        <div class="dashboard-user-text-container">
          <p class="dashboard-user-title">Samanta Dias</p>
          <p class="dashbaord-user-description">Último acesso em xx/xx/xxx - 14:00</p>
        </div>
        <div class="dashboard-user-icon">
          <img src="../../homepage2-images/homePage2/Icon awesome-user-alt.svg" alt="">
        </div>
      </article>
    </section> -->
