

app-crm-page .ui-calendar .ui-datepicker {
    background: #333c49 !important;
}

app-crm-page .ui-calendar .ui-inputtext {
    background: #333c49 !important;
    color: white;
    border: 0;
    outline: none;
}
