.btn-container {
  width: max-content;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn-grid {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  outline: 0;
  height: 65px;
  width: 65px;

  background-color: #545b66;
  color: #fff;

  mat-icon {
    transform: rotate(0);
    transition: transform 400ms linear;
  }
}
.btn-grid.opened {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  mat-icon {
    transform: rotate(180deg);
    transition: transform 400ms linear;
  }
}
