<section class="btn-container">
  <button class="btn-close">
    <mat-icon>expand_less</mat-icon>
  </button>
</section>

<!-- <section
  class="container-fluid grid-details transition navbar-summary"
  [ngClass]="{ 'grid-details--open': panelOpen }"
  [ngStyle]="{ height: panelOpen ? 'calc(100% - 500px)' : panelHeightInitial }"
  style="width: 100%"
>
  <button
    type="button"
    (click)="onShowContentGrid()"
    class="rounded-circle btn btn-toggle-panel"
  >
    <i class="material-icons">
      <span *ngIf="panelOpen">expand_more</span>
      <span *ngIf="!panelOpen">expand_less</span>
    </i>
  </button>
  <div class="grid-details-title" [ngClass]="{ 'd-none': panelOpen }">
    <h6 class="grid-details-title--bottom text-center">Tabela de Pedidos</h6>
  </div>
  <div class="grid-details-title" [ngClass]="{ 'd-none': !panelOpen }">
    <h3 class="text-center">Tabela de Pedidos</h3>
  </div>

  <div class="row" style="margin: 0 1.5rem !important">
    <app-filter
      class="filter-buttons mx-1"
      [items]="filtros"
      [caption]="'Filtros'"
      [selected]="filtroSelecionado"
      (selectedModified)="selecionarGrafico($event)"
    ></app-filter>
  </div>

  <div class="row">
    <div class="grid-details-content grid-devices-centent--table">
      <proxper-grid
        [customColumns]="cols"
        [data]="data"
        [showDataButton]="showDataButton"
        [buttonTitle]="'exportar dados'"
      ></proxper-grid>
    </div>
  </div>
</section> -->
