<span *ngIf="showConsumptionCharts">
  <h4 class="card-title">{{ "Consumption" | translate }}</h4>
  <app-graph-consume-week 
    [energyGroupId]="energyGroupId"
    [occupancyAndConsumeList]="occupancyAndConsumeList">
  </app-graph-consume-week>

</span>

<span *ngIf="showOccupancyCharts">

<h4 class="card-title">
  {{ "chart.occupancy.title" | translate }}
</h4>
<app-graph-occupancy-week
  [energyGroupId]="energyGroupId"
  [occupancyAndConsumeList]="occupancyAndConsumeList">
</app-graph-occupancy-week>

</span>
