<!-- dashboard -->
<section class="dashboard-container">
  <!--user logged-->
    <section class="dashboard-user-logged">
      <article class="dashboard-user-container">
        <div class="dashboard-user-text-container">
          <p class="dashboard-user-title">Samanta Dias</p>
          <p class="dashbaord-user-description">Último acesso em xx/xx/xxx - 14:00</p>
        </div>
        <div class="dashboard-user-icon">
          <img src="../../homepage2-images/homePage2/Icon awesome-user-alt.svg" alt="">
        </div>
      </article>
    </section>

    <!-- time & temperature info-->
    <section class="info-container">
      <!-- temperature-->
       <article class="info-temp">
        <div class="info-temp-icon-container">
           <div class="info-temp-icon">
            <img src="../../homepage2-images/homePage2/Cloud.svg" alt="">
           </div>
          <p class="info-temp-descripion">20°C</p>
        </div>
        <div class="info-temp-text">parcialmente nublado</div>
       </article>
       <!-- time-->
       <section class="time_and_calendar_container">
       <article class="info-time">
          <div class="info-time-icon">
            <img src="../../homepage2-images/homePage2/Caminho 21.svg" alt="">
          </div>
          <div class="info-time-details">14:30</div>
       </article>
       <!-- calendar-->
       <article class="info-calendar">
          <div class="info-time-icon">
            <img src="../../homepage2-images/homePage2/Caminho 23.svg" alt="">
          </div>
          <div class="info-time-details">
            <p class="info-time-details-date">01 de março</p>
            <p>São Paulo - SP</p>
          </div>
       </article>
      </section>
    </section>

    <!-- box research -->
    <section></section>
    <!-- box order -->
    <section></section>
</section>
