* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*******dashboard**********/
.dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(https://i.postimg.cc/VvRwYSqQ/medicine-doctor-background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  /*dashboard container - rgba effect */

  .dashboard-user-logged {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
  }
  .dashboard-user-container {
    display: flex;
    text-align: end;
    padding: 5px;
  }
  .dashbaord-user-text-container {
    margin-right: 10px;
  }
  .dashboard-user-title {
    padding-right: 10px;
    margin-bottom: 2px;
  }
  .dashbaord-user-description {
    font-size: 10px;
    word-wrap: break-word;
  }
  .dashboard-user-icon {
    width: 30px;
    height: 30px;
  }
}

/* Time Container */

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .info-temp {
    text-align: center;
    margin: 0 20px;
    font-size: 56px;
  }
  .info-temp-icon-container {
    display: flex;
    align-items: center;
  }
  .info-temp-icon {
    img {
      height: 60px;
      width: 60px;
      margin-right: 10px;
    }
  }

  .info-temp-description {
    font-size: 81px;
  }
  .info-temp-text {
    font-size: 10px;
  }
  .time_and_calendar_container {
    display: flex;
    flex-direction: column;
  }
  .info-time {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .info-time-icon {
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
  .info-time-details-date {
    margin-bottom: 2px;
  }
  .info-calendar {
    display: flex;
    align-items: center;
  }
}
