<div class="card">
  <div class="card-header" data-background-color="deltix"> <h4 style="margin: 0px;"> {{'Consumption' | translate}}</h4></div>
  <div class="card-content">

     <div style="float: left;text-align: center;border-radius: 50%; padding: 15px; background-color: darkorange; margin-right: 20px;" > <i class="material-icons" style="font-size: 56px; line-height: 86px; width: 86px;height: 86px; color: white;">flash_on</i></div>
    <!---->
    <!---->
    <h5> {{'Monthly total' | translate}} </h5>
    <h2 class="title">{{totalSpent}} <small _ngcontent-c13="">kWh </small></h2>
  </div>
  <div class="card-footer">
    <div class="stats">
      <h3 _ngcontent-c13=""><small _ngcontent-c13=""><i class="material-icons" style="position: relative; top:4px">date_range
            </i>JUNHO/2018</small></h3>
    </div>

    <button mat-raised-button mat-min-fab class="btn btn-just-icon btn-round btn-add" style="background-color: darkorange; "
      (click)="onAddButtonClick()">
      <i class="material-icons">add_circle_outline</i>
    </button>
  </div>
</div>

<!--div class="card card-stats">
    <div class="card-header" data-background-color="orange"><i class="material-icons">flash_on</i></div>
    <div class="card-content">
  
      <h3 _ngcontent-c13="">{{'Consumption' | translate}}</h3>
      <h5> {{'Monthly total' | translate}} </h5>
      <h2 class="title">{{totalSpent}} <small _ngcontent-c13="">kWh </small></h2>
    </div>
    <div class="card-footer">
      <div class="stats">
        <h3 _ngcontent-c13=""><small _ngcontent-c13=""><i class="material-icons" style="position: relative; top:4px">date_range
              </i>JUNHO/2018</small></h3>
      </div>
  
      <button mat-raised-button mat-min-fab class="btn btn-just-icon btn-round btn-add" style="background-color: darkorange; "
        (click)="onAddButtonClick()">
        <i class="material-icons">add_circle_outline</i>
      </button>
    </div>
  </div-->