<div class="main-panel" style="background: #49525D;padding: 5px;">
  <div style="float:left;width: 40%;position: relative;left: 50px;top: 50px;">
    <room-folder-devices-info></room-folder-devices-info>
  </div>
  <div style="float:left; width: 60%">
    <div style="background-color: burlywood;width: 740px;height: 490px;background-image: url(../assets/images/roomDetails.PNG);border-color: white;border-style: solid;position: relative;top: 150px;">
    </div>
    <span style="color: white;font-size:15px;float:left">ACQUALINA RESORT & SPA</span>
  </div>


</div>