<div class="row">
    <div class="col-xs-6 col-md-3">

        <div class="temp-box">
            
            <h1 class='temp-text'> {{tempInside}}º</h1>
            <small>{{ 'General supply' | translate }} <br> {{ '(Cold water)' | translate }} </small>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="temp-box">
            <h1 class='temp-text'> {{tempOutside}}º</h1>
            <small>{{ 'General return' | translate }} <br> {{ '(Cold water)' | translate }} </small>

        </div>

    </div>
    <div class="col-xs-6 col-md-3">
        <div class="temp-box">
            <h1 class='temp-text'> {{tempInside}}º</h1>
            <small>{{ 'Conden. input' | translate }} <br>{{ '(Condensed water)' | translate }}</small>
        </div>

    </div>
    <div class="col-xs-6 col-md-3">
        <div class="temp-box">
            <h1 class='temp-text'> {{tempOutside}}º</h1>
            <small>{{ 'Conden. output' | translate }} <br> {{ '(Condensed water)' | translate }}</small>
        </div>

    </div>
</div>